n8n/dineflow_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "29b114c9-2bb5-45b2-88ce-b56b159825a4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dineflow-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "id": "1b5a38a5-b97b-438b-988f-5dd28a135982",
      "name": "Webhook",
      "webhookId": "d9b8ec0b-5447-44f8-956c-f30b9cb45958"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI nhà hàng DineFlow, trả lời bằng tiếng Việt.\n\nBạn có các công cụ:\n- get_leave_requests: dùng khi người dùng hỏi về đơn nghỉ phép, lịch nghỉ nhân viên\n- get_revenue: dùng khi người dùng hỏi về doanh thu, doanh số nhà hàng\nKhi nhận được data từ tool, hãy:\n- Lọc theo tên/ngày nếu người dùng yêu cầu\n- Sắp xếp theo thời gian gần nhất nếu không có yêu cầu khác\n- Chỉ hiển thị thông tin liên quan đến yêu cầu\n\nChỉ gọi tool khi câu hỏi thực sự liên quan. \nNếu chỉ là chào hỏi hoặc câu hỏi thông thường thì trả lời bình thường, KHÔNG gọi tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        0
      ],
      "id": "0d18ba09-01ae-4522-8e5e-0f75cfa27ee5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        304
      ],
      "id": "359f1f98-2f25-4286-a2bb-423751dd729b",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách đơn nghỉ phép của nhân viên",
        "url": "http://odoo:8069/dineflow/api/leave",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        640,
        208
      ],
      "id": "89c43ad8-6f7c-41d6-ba66-2d22f87103ae",
      "name": "get_leave_requests"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        0
      ],
      "id": "08446076-1a43-4789-ad4e-579b9c249562",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        368,
        192
      ],
      "id": "3a522c48-06fb-4673-a9f6-5d89c1408ad7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "K9RhE3bdPoVvYTNP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id || 'default' }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        208
      ],
      "id": "3073cf03-427f-47c1-8f05-5bd1d735eafc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách bàn trong quán",
        "url": "http://localhost:31204/dineflow/api/tables",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        800,
        208
      ],
      "id": "7ef7d5a0-fcba-4e1a-a604-416a672a641b",
      "name": "get_tables"
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách món ăn",
        "url": "http://localhost:31204/dineflow/api/menu-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        960,
        208
      ],
      "id": "cef5595d-a63a-400e-b52c-432200d66877",
      "name": "get_menuitems"
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách nhân viên",
        "url": "http://localhost:31204/dineflow/api/employees",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        208
      ],
      "id": "eb4d75ec-d236-4fbd-a95c-920a57c1ad5a",
      "name": "get_employees"
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách đặt bàn",
        "url": "http://localhost:31204/dineflow/api/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1280,
        208
      ],
      "id": "2854a300-e8c7-4cb0-9195-f9e86efaac3d",
      "name": "get_booking"
    }
  ],
  "pinData": {},
  "connections": {
    "get_leave_requests": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4745d1be-4654-4c07-aace-b0d62c658008",
  "meta": {
    "instanceId": "1ef2aae832fcd7070d0a7f265d441ea32cebcd62f01379890c577ec838a3e800"
  },
  "id": "gMwjAL0hARgnE8m3aV2m4",
  "tags": []
}