n8n/dineflow_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        144,
        160
      ],
      "id": "9894377d-0f2a-4cf9-8ca8-d1cb278c4a39",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dineflow-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        160
      ],
      "id": "1d95a0b6-271f-467c-9ef8-155938ccfcb6",
      "name": "Webhook",
      "webhookId": "d9b8ec0b-5447-44f8-956c-f30b9cb45958"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI nhà hàng DineFlow, trả lời bằng tiếng Việt.\n\nBạn có các công cụ:\n- get_leave_requests: dùng khi người dùng hỏi về đơn nghỉ phép, lịch nghỉ nhân viên\n- get_revenue: dùng khi người dùng hỏi về doanh thu, doanh số nhà hàng\nKhi nhận được data từ tool, hãy:\n- Lọc theo tên/ngày nếu người dùng yêu cầu\n- Sắp xếp theo thời gian gần nhất nếu không có yêu cầu khác\n- Chỉ hiển thị thông tin liên quan đến yêu cầu\n\nChỉ gọi tool khi câu hỏi thực sự liên quan. \nNếu chỉ là chào hỏi hoặc câu hỏi thông thường thì trả lời bình thường, KHÔNG gọi tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        160
      ],
      "id": "0cdc083e-2440-44d1-b0d4-23290a8f0c0c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        464
      ],
      "id": "d85e119d-05b9-49ea-b813-2460b771132c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "myt62Pzi4GDl4qYN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lấy danh sách đơn nghỉ phép của nhân viên",
        "url": "http://odoo:8069/dineflow/api/leave",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "dineflow-secret-2024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        384
      ],
      "id": "e8eb86e9-c5e0-4ca5-a8e1-883dcaaffef6",
      "name": "get_leave_requests"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        160
      ],
      "id": "5bea8135-a907-40db-a07a-a3265ea297d0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        512,
        352
      ],
      "id": "1186c43b-27a4-43a3-9362-3c1c3db2b4ab",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "n0iYjqaBOZ9rUJMi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id || 'default' }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        368
      ],
      "id": "4e1801f4-3efa-46e4-b299-ebeb82b28da5",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "get_leave_requests": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ed593133-d7c9-40f2-b984-750037049efb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f0da61b10fa73cb46080bc026fbfa43273197f9566bb18990bc58a4ec73ac7e"
  },
  "id": "zsR49Zn9mDnD1toHRcsew",
  "tags": []
}